.main-head {
	color: white;
	background-color: #adbd73;
	width: 100%;
	font-family: sans-serif;
	height: 40%;
	padding: 10px;
	text-align: center;
}

.title-container{
	margin-top: 20px;

}

input[type="submit"]{
	border: none;
	color: white;
	background-color: orange;
	height: 80px;
	width: 160px;
	font-size: 50px;
}
