<!doctype html>
<html lang="en" ng-app="obApp" ng-controller="obController">
<head>
	<meta charset="UTF-8">
	<title>Random Outbound</title>
	
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/bootstrap-css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
<body>
	<div class="container-fluid">
		<div class="main-head">
			<h1>Pick a Random Outbound Agent</h1>
			<button data-toggle="modal" data-target="#winner" class="btn btn-default btn-lg randomize" ng-click="randomize()">go</button>

		</div>
		
		<div class="agent-area container">
			
				
			<div class="container-fluid agent-list" ng-repeat="agent in agents">
				<button class="btn btn-primary agent-btn" ng-class="{present: agent.present === true}" 
				ng-click="agent.present = !agent.present; change();">{{ agent.name }}</button>
			</div>
				
				
			

		</div>


	<!-- Winner modal -->
		<div class="modal fade" id="winner" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content announcement">
		      <h1>The winner is {{ winner }}</h1>
		    </div>
		  </div>
		</div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="js/obApp.js"></script>
</body>
</html>