.main-head {
	color: white;
	background-color: #adbd73;
	width: 100%;
	font-family: sans-serif;
	/*height: 70%;*/
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

.title-container{
	margin-top: 20px;

}

.randomize {
	background-color: orange;
	width: 100px;
	color: white;
}

.announcement{
	text-align: center;
}

.agent-area {
	
}

.agent-list{

}

.agent-btn {
	margin: 4px;
	background-color: #d9534f;

}
.present {
	background-color: #5cb85c;
}
