html{
	padding: 0;
}

.main-head {
	color: white;
	background-color: rgb(103, 67, 151);
	width: 100%;
	font-family: sans-serif;
	padding: 10px;
	text-align: center;
}

.title-container{
	margin-top: 20px;

}

.randomize {
	background-color: orange;
	width: 100px;
	color: white;
}

.announcement{
	text-align: center;
}

.agent-area {

	padding-top: 30px;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-flex-wrap: wrap;
	-webkit-flex-justify-content: space-between;
}

.agent-btn {
	background-color: #d9534f;
	width: 10em;
	border: 1px solid black;
	


}
.present {
	background-color: #5cb85c;
}

.new-agent-area{
	display: -webkit-flexbox;
	margin: 30px auto;
	text-align: center;
	position: fixed center;

}

.add-box{
	height: 42px;
	width: 100%;
}

.add-btn{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

i {
	border-radius: 50%;
	float: right;
}

i:hover{
	color: #A60000;
	background-color: white;
}